{% extends "base_generic.html" %}
{% block hd1 %}
        <!-- Header Start -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Password Reset Done</h1>
            </div>
        </div>
        <!-- Header End -->
{% endblock %}
{% block content %}
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %}