{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block hd1 %}
        <!-- Header Start -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Sign Up</h1>
            </div>
        </div>
        <!-- Header End -->
{% endblock %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Sign Up" class="btn btn-primary w-100">
  </form>

{% endblock %}